In [1]:
import pandas as pd

In [26]:
data = pd.read_csv("cities.csv", index_col = 0)
data.head()

,Country,Latitude,Longitude,Max Temperature,Humidity,Wind Speed,Cloudiness,Date
City,,,,,,,,
Kapaa,US,22.0752,-159.3190,78.80,61,12.66,40,1618270419
Arraial do Cabo,BR,-22.9661,-42.0278,77.32,86,19.66,1,1618270601
Dzaoudzi,YT,-12.7887,45.2699,82.40,83,8.05,40,1618270601
Omsukchan,RU,62.5333,155.8000,-1.91,84,4.47,68,1618270601
Ribeira Grande,PT,38.5167,-28.7000,61.99,87,19.93,89,1618270602

In [30]:
data['Date'] = pd.to_datetime(data['Date']).dt.date
data.sort_values('Latitude', inplace = True, ascending = False)
data.head()

,Country,Latitude,Longitude,Max Temperature,Humidity,Wind Speed,Cloudiness,Date
City,,,,,,,,
Longyearbyen,SJ,78.2186,15.6401,6.80,72,13.80,20,1970-01-01
Qaanaaq,GL,77.4840,-69.3632,-2.96,88,3.91,17,1970-01-01
Dikson,RU,73.5069,80.5464,25.00,88,13.82,100,1970-01-01
Upernavik,GL,72.7868,-56.1549,29.89,98,2.57,100,1970-01-01
Khatanga,RU,71.9667,102.5000,23.74,94,12.39,99,1970-01-01

In [31]:
data.to_html('cities.html')